{
	"printWidth": 160,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"singleAttributePerLine": false
}
